LOCAL_DOMAIN=example.com
WEB_DOMAIN=mastodon.example.com
SINGLE_USER_MODE=true

DB_HOST=db
REDIS_HOST=redis

SMTP_SERVER=smtp.sendgrid.net
SMTP_PORT=587
SMTP_LOGIN=apikey
SMTP_AUTH_METHOD=plain
SMTP_OPENSSL_VERIFY_MODE=none
SMTP_FROM_ADDRESS="Mastodon <notifications@example.com>"


